body {
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
}

.hour {
    background: #C5C5C5;
    font-weight: bold;
    text-align: center;
    padding: 8px 2px !important;
}

tr,td {
    text-align: center;
}

td, th {
    border: 1px solid #ddd !important;
}

.navbar {
    font-size: 13pt;
}

.form-top {
    text-align: center;
    text-transform: uppercase;
}

#enterTasks {
    border: 1px lightgrey solid;
    border-radius: 6px;
    padding: 10px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    -webkit-box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.02);
    -moz-box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.02);
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.02);
}

#addTaskBtn, #updateTaskBtn, #deleteTaskBtn, #clearFormBtn {
    width: 100%;
    background-color: whitesmoke;
    margin-bottom: 5px;
}

#addTaskBtn:hover, #updateTaskBtn:hover:enabled, #deleteTaskBtn:hover:enabled, #clearFormBtn:hover {
    width: 100%;
    background-color: lightgrey;
}

#status {
    color: #096fbc;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

table {
    -webkit-box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.05);
}

.days {
    background-color: whitesmoke;
}

.days,th {
    text-align: center;
}

.hour {
    background-color: whitesmoke;
}

.password{
    position: relative;
}

#password input[type="password"]{
    /*padding-right: 30px;*/
}

.password .glyphicon  {
    display:none;
    right: 15px;
    position: absolute;
    top: 12px;
    cursor:pointer;
}

.task {
    cursor: pointer;
}

@media only screen and (max-width: 480px){

    #enterTasks {
        width: 65%;
        margin-left: 17%;
        margin-right: 17%;
    }
}

